* {
  padding: 0 1vw;
  margin: 0;
  max-width: 100%;
}

header .top {
  background-color: rgb(71, 159, 179);
  min-height: 100px;
}

header .top h1 {
  color: rgb(249, 251, 253);
  padding: 10px 40px;
  font-size: 70px;
}

header ul {
  position: absolute;
  top: 80px;
  right: 0;
  list-style-type: none;
  font-size: 20px;
}

header li {
  display: inline;
  margin-right: 15px;
}

header a {
  color: rgb(249, 251, 253);
  text-decoration: none;
  margin: 10px 10px;
}

header a:hover {
  text-decoration: underline;
}

.face{
    min-height: 700px;
    background-image: url("https://gss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/f703738da9773912b309b3cafd198618367ae269.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


















.XingNeng {
  display: flex;
}
