* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

header .top {
  background-color: rgb(71, 159, 179);
  min-height: 100px;
}

header .top h1 {
  color: rgb(249, 251, 253);
  padding: 10px 40px;
  font-size: 70px;
}

header ul {
  position: absolute;
  top: 80px;
  right: 0;
  list-style-type: none;
  font-size: 20px;
}

header li {
  display: inline;
  margin-right: 15px;
}

header a {
  color: rgb(249, 251, 253);
  text-decoration: none;
  margin: 10px 10px;
}

header a:hover {
  text-decoration: underline;
}

.face {
  min-height: 700px;
  background-image: url("01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(9, 39, 65);
}

.line {
  margin: 0 0 60px 0;
  display: flex;
  height: 60px;
  background-color: rgb(22, 134, 159);
  color: rgb(244, 247, 249);
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main .section1 {
  padding: 15px;
}

main .section1 h2 {
  font-size: 30px;
  color: rgb(22, 134, 159);
}

.section1 {
  margin: 0 0 60px 0;
}
.JianJie {
  padding: 10px;
  font-size: 19px;
  color: rgb(22, 134, 159);
}

.section2 {
  margin: 25px;
}
.section2 h3 {
  font-size: 23px;
  color: rgb(22, 134, 159);
}

.XingNeng {
  margin: 10px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(22, 134, 159);
  padding: 10px;
  font-size: 19px;
  border: 2px rgb(22, 134, 159) solid;
}

.image0 {
  width: 600px;
}

.unicorn {
  display: flex;
  justify-content: space-between;
  margin: 80px 15px;
  padding: 10px;
  border: 2px rgb(22, 134, 159) solid;
  font-size: 18px;
  color: rgb(22, 134, 159);
}

.image1,
.image2 {
  width: 30vw;
  object-fit: contain;
}

.destroy {
  display: flex;
  justify-content: space-between;
  margin: 80px 15px;
  padding: 10px;
  border: 2px rgb(22, 134, 159) solid;
  font-size: 18px;
  color: rgb(22, 134, 159);
}

.image3,
.image4 {
  width: 30vw;
  object-fit: contain;
}

.full {
  display: flex;
  justify-content: space-between;
  margin: 80px 15px;
  padding: 10px;
  border: 2px rgb(22, 134, 159) solid;
  font-size: 18px;
  color: rgb(22, 134, 159);
}

.image5,
.image6 {
  width: 30vw;
  object-fit: contain;
}

.back {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 20px 0 100px 0;
}

.back a {
  text-decoration: none;
  color: rgb(49, 181, 201);
}

.back a:hover {
  text-decoration: underline;
}

.section3 {
  color: rgb(22, 134, 159);
  font-size: 20px;
  margin: 25px 25px 100px 25px;
  padding: 10px;
}

.section4 {
  padding: 10px;
  margin: 25px 25px 100px 25px;
  color: rgb(22, 134, 159);
  font-size: 20px;
  display: flex;
  border: 2px rgb(22, 134, 159) solid;
}

.image7 {
  width: 40vw;
  object-fit: contain;
}

.last {
  display: block;
  text-align: center;
  font-size: 15px;
  background-color: rgb(49, 181, 201);
  color: aliceblue;
  padding: 30px;
}

main .section5 {
  font-size: 20px;
  color: rgb(50, 151, 151);
  padding: 60px 20px 100px 20px;
}

.ep01,
.ep02,
.ep03,
.ep04,
.ep05,
.ep06,
.ep07 {
  padding: 5px;
  border: 3px solid;
  margin: 10px;
}

.image8,
.image9,
.image10,
.image11,
.image12,
.image13,
.image14 {
  width: 700px;
}
